<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Удалить контакт</title>
</head>
<body>
    <form method="POST">
        {% csrf_token %}
        <p>Вы уверены, что хотите удалить контакт?</p>
        {{ form.as_p }}
        <button type="submit" class="btn btn-danger" value="Confirm">Удалить</button>
        <a class="btn btn-success" href="{% url 'core:home' %}" role="button">Отмена</a>
    </form>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
</body>
</html>