<!doctype html>
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Телефонный справочник</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
  </head>
  <body>
    <a href="{% url 'core:contact_create' %}">Добавить контакт</a>
    <h5> Кол-во контактов в справочнике: {{count}}</h5>
    <form method="GET">
        {{ filter.form.name.label }}<br>{{ filter.form.name }}
        <br>{{ filter.form.count.label }}<br>{{ filter.form.count }}
        <br><br><button type="submit">Поиск</button>
    </form>
    <br><h6>Примечание для поиска: оставьте 1 из 2 полей пустым, чтобы провести поиск по 1 полю. Заполните оба, чтобы поиск прошел по обоим полям.</h6>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">id</th>
          <th scope="col">Фамилия</th>
          <th scope="col">Имя</th>
          <th scope="col">Отчество</th>
          <th scope="col">Организация</th>
          <th scope="col">Рабочий телефон</th>
          <th scope="col">Личный телефон</th>
          <th scope="col">Редактировать</th>
          <th scope="col">Удалить</th>
        </tr>
      </thead>
      <tbody class="table-group-divider">
        {% for contact in contact %}
        <tr>
          <td>{{contact.id}}</td>
          <td>{{contact.last_name}}</td>
          <td>{{contact.first_name}}</td>
          <td>{{contact.surname}}</td>
          <td>{{contact.organization}}</td>
          <td>{{contact.job_telephone}}</td>
          <td>{{contact.personal_telephone}}</td>
          <td><a href="{% url 'core:contact_update' pk=contact.pk %}">Обновить</a></td>
          <td><a href="{% url 'core:contact_delete' pk=contact.pk %}">Удалить</a></td>
        </tr>
        {% empty %}
          <tr>
              <td> Список пуст </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
  <div class="pagination">
      <span class="step-links">
          {% if page_obj.has_previous %}
              <p><a href="?page=1">&laquo; Первая</a>
              <a href="?page={{ page_obj.previous_page_number }}">Предыдущая</a></p>
          {% endif %}
          <span class="current">
              <p> Страница {{page_obj.number}} из {{page_obj.paginator.num_pages}} </p>
          </span>
          {% if page_obj.has_next %}
              <p><a href="?page={{ page_obj.next_page_number }}">Следующая</a>
              <a href="?page={{ page_obj.paginator.num_pages }}">Последняя &raquo;</a></p>
          {% endif %}
      </span>
  </div>
  </body>
</html>